<ion-content padding="true" scroll="false" color="light">
  <ion-grid>
    <ion-img class="img" src="assets/icon/excel2.png"></ion-img>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <form [formGroup]="userForm" (ngSubmit)="register(form)" class="form">

          <div style="text-align: center;">
            <h3 style="color: #536162;">Register Account</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input formControlName="name" type="text" placeholder="Name" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="email" type="email" placeholder="your@email.com" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="password" type="password" placeholder="Password" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" expand="block">Register</ion-button>
          </div>

          <ion-row>
            <div text-center>
              If you have an account, please <a routerLink='/login'>
                login</a>
            </div>
          </ion-row>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>