<ion-content [fullscreen]="true">
  
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button style="--background: #fff !important;">
      <img style="width: 28px" src="./../../assets/icon/excel2.png">
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-list-header style="color: #2e7d32;">
      Excel Data Records
    </ion-list-header>

    <ion-item *ngFor="let rec of records, let ind = index;">
      <ion-avatar slot="start">
       {{ind}}
      </ion-avatar>
      <ion-label>
        <h2>{{rec.name}}</h2>
        <h3>{{rec.email}}</h3>
        <p>{{rec.contactno}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

 
</ion-content>