#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.avatar {
    border: 2px solid #CEE5D0;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #FF7878;
}

.fabbuttons {
    display: flex;
    justify-content: center;
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}